<div class="ColContainer" style="margin-top: 20px">

<div class="LtCol">
</div>	

<div class="RtCol"> 
</div>

<div class="CtrCol"> 

<div class="InfoBox">
<div class="t"><div class="b"><div class="l"><div class="r"><div class="bl"><div class="br"><div class="tl"><div class="tr">
<h1>About Us</h1>
<p>
	TimeDJ.com provides a simple and quick service for scheduling a meeting between multiple time zones.  
</p>
<h3>Who We Are</h3>
<p>
	The creators of TimeDJ.com know what a pain it is to try schedule a meeting across multiple countries; we've done it more times then we wish to count.
	Keeping track of different offsets between time zones is hard enough, but to also visualize how that corresponds to a distant co-worker's workday is too much.
	That's why we created TimeDJ.com.  
</p>	
<h3>What We Do</h3>
<p>
	With just a few keystrokes you can bring up a chart of each participants' workday and we'll highlight the best times to schedule your meeting.
	Click on the time you like, enter the meeting date and we'll automatically fire up your favorite calendering program (Outlook, iCal, Google, Yahoo, etc.).  It's that easy.
</p>
<h3>About Our Data</h3>
<p>
	TimeDJ.com's database contains over 2.5 million distinct cities across the globe covering all known time zones.  We do our best to keep our data as accurate as possible.
</p>
<p>
	We'd like to thank the following resources for helping us build this data set:
	<br>GeoNames.org - <a href="http://geonames.org" target="_blank">GeoNames</a> - Geo-based time zone data
	<br>Maxmind.com - <a href="http://maxmind.com" target="_blank">Maxmind</a> - City/region/country data
</p>	
</div></div></div></div></div></div></div></div> 
</div>

</div>

</div>