<%= javascript_include_tag :defaults %>

<div class="ColContainer">

<div class="LtCol" style="width:166px">
</div>	

<div class="RtCol" style="width:166px"> 
<div class="InfoBox">
<div class="t"><div class="b"><div class="l"><div class="r"><div class="bl"><div class="br"><div class="tl"><div class="tr">
Hate planning meetings across multiple time zones?<br><br>
Enter the location of each meeting participant and let TimeDJ.com suggest the best time for your meeting.
</div></div></div></div></div></div></div></div> 
</div>
</div>
<div class="CtrCol" style="margin-left:180px; margin-right: 180px;"> 
<%= form_tag(query_path(1),:method => :get)%>
<INPUT TYPE=hidden NAME="local" id=hidden_time VALUE=""/>
<%= text_field_with_auto_complete :city, :name, 
	{:tabindex => 0, :style => "width: 80%; max-width: 600px"}, {:tokens => [';','+'], :min_chars => '3', :method => :get, :order => 'population DESC', :frequency => 0.2, :indicator => 'plswait'} %>
	<input  type="image" src="/images/dj_button2.png" alt="GO!" style="position:relative; left:5px; top:20px">
<br>
<span style="position: relative; left:-5%; color: #999999; z-index:-5;"> Type in the location of each meeting participant separated by a semicolon.
<br>Example:  San Francisco, United States; Paris, France 
</span>
<br><br>

<div id='plswait' style="width:400px; margin-left:auto; margin-right:auto" >
<div class="t"><div class="b"><div class="l"><div class="r"><div class="bl"><div class="br"><div class="tl"><div class="tr">
<img src="/images/ajax-loader.gif" style="position:relative; left:-10px; top:10px"/>
Please wait a moment as we search 2.5 million locations to auto complete your query...
</div></div></div></div></div></div></div></div> 
</div>
<script type="text/javascript">
//<![CDATA[
myDate = new Date();
document.getElementById('hidden_time').value = myDate.getTimezoneOffset()/-60; // + "_" + myDate.toTimeString().split('\(')[1].split('\)')[0];
Element.hide('plswait')
//]]>
</script>

<% if flash[:error] %>
<br><br>
<span style="position: relative; left:-5%; z-index:-5; color: red;">
	<%= flash[:error] %>
</span>
<% end %>

</div>
</div>