<%= form_tag(query_path(1),:method => :get)%>
<%= text_field_with_auto_complete :city, :name_w_country, 
	{:tabindex => 0, :size => 65, :value => "Eg:  San Francisco; Thailand; LON; GMT"}, {:method => :get} %>
<button>GO!</button>
<br>
<span style="color: silver"> Type the City, Country, Time Zone or Airport Codes </span>

