<table border="1">
    <tr>
        <%@myinputs.each do |i| %>
        <%= "<td> #{i.name} </td>" %>
        <%end %>
    </tr>
    <tr>
        <%@myinputs.each do |i| %>
        <%= "<td> #{i.country.name} </td>" %>
        <%end %>
    </tr>
</table>
<br>
