/* 
	Grey Suits you Sir. Please host the images on your own server.
	written by Stuart Colville http://www.muffinresearch.co.uk
*/

table,td
{
	border                :none;
	/*border             : 1px solid #CCC;*/
	border-collapse      : collapse;
  	/*font                 : small/1.1 "Tahoma", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;*/
	font                 : small/1.1 Helvetica, sans-serif;
	text-align	     	 : center;
}
table
{
 	border                :none;
	border                :1px solid #CCC;
}
thead th,
tbody th,
tfoot th
{
	border                : 0px solid #CCC;
	background            : #FFF ;	color                 : #666;  
	padding               : 3px 5px;
	border-left           : 1px solid #CCC;
	border-right           : 1px solid #CCC;
	min-width 	      	  : 100px;
}
tfoot tr td	
{
	color                 : #666;
	border-top            : 1px solid #CCC;
	background            : #FFF ;	color                 : #666;  
/*	padding               : 3px 5px;
/*	border-left           : 1px solid #CCC;*/
	width 	      	      : 150px;
}
tfoot tr:hover td
{
  color                 : black; /*#454545;*/
  background            : #f48338 /*orange;*/
}



tbody th
{
  border                : 1px solid #ccc; 
  background            : #f1f1f2; /*#fafafb;*/
  /*border-top          : 1px solid #CCC;*/
  text-align            : left;
  font-weight			: 100;
  color					: black;
  /*padding				: 2px 2px;*/
}
tbody tr td
{
	padding               : 1px 1px;
  	color                 : #666;
	border                :none;
	border-right 			: 1px solid #CCC;
  	border-left 			: 1px solid #CCC;
}

tbody tr:hover td
{
  color                 : black; /*#454545;*/
  background            : #f48338 /*orange;*/
}

caption
{
	text-align            : left;
	font-size             : 120%;
	padding               : 10px 0;
	color                 : #666;
}
table a:link
{
	color                 : #666;
}
table a:visited
{
	color                 : #666;
}
table a:active
{
	color                 : #003366;
}



