/* Default Style Sheet for TimeDJ */

html, body {
 text-align: center;
 font-size:14.5px;
 font: 100% helvetica,sans-serif;
 margin:0;
 padding:0;
} 

div.Menu {
 text-align: left;
 position:relative;
 font: 13px helvetica,sans-serif;
 margin: 8px 8px 0px 8px;
}

div.Title {
 text-align: center;
 font-size:50px;
 font-variant:small-caps;
 position:relative;
 top:2px;
}

div.ColContainer {
	margin-left: 8px;
	margin-right: 8px;
	min-height: 270px;
}

div.LtCol,
div.RtCol,
div.CtrCol {
	font: 100% helvetica,sans-serif;
}

div.LtCol {
  float: left;
  padding: 0px 10px 0px 0px;
  width: 110px;
}

div.CtrCol {
  top: 10px;
  text-align: center;
  margin-left: 120px;
  margin-right: 120px;
}

div.RtCol {
  float: right;
  padding: 0px 0px 0px 10px;
  width: 110px;
}

div.Footer {
  margin-top: 30px;
  text-align: center;
  clear: both;
  font: small/1.1 helvetica,sans-serif;
}
div.Footer .line {
	background: transparent url(../images/footer_line.png) repeat-x;
	height: 25px;
	margin: 0;
	padding: 0;
}
div.Footer .copyright {
}

 
hr 
{
	margin-left: 50;
	margin-right: 50;    
	width: 90%;
}

div.externals{
	position:relative; left:25%; top:60px; width: 50%; height:140px; 
}
      

h3 {
 text-align: center;
 font: bold 84% 'trebuchet ms',helvetica,sans-serif; 
 position:relative;
 top:0px;
}

td.awake_time {
	border: 1px;
 	border-right-style: solid;
 	border-right-color: #CCC;
	background:lightgreen;
	color: black;
}

td.dim_time {
	 border: 1px;
	 border-right-style: solid;
	 border-right-color: #CCC;
	 /*background:;*/
}

input.djinput{
	background: blue;
}
