<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
<link rel="stylesheet" type="text/css" href="/stylesheets/timedj.css" MEDIA=screen>
<!--This is the table formatting -->
<link rel="stylesheet" type="text/css" href="/stylesheets/muffin.css" MEDIA=screen>
<script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>

<%= yield %>

</body></html>
