<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<meta name="keywords" content="time zone meeting planner, timzezone meeting planner, cross time zone meeting, time zones, time zone conversion, time zone converter, meeting planner, meeting planning tool, cross time zone meeting, how to convert time zones, time zone conversion, what time is it in, time and date, plan a meeting in a different country, cross country meeting, help plan a meeting, convert time zones between countries" />
<meta name="description" content="Find out what time it is in over 2.5 million cities around the world." />
<meta name="author" content="TimeDJ.com" />
<meta name="copyright" content="Copyright (c) 2010 TimeDJ.com" />
<meta name="language" content="en-us" />
<meta name="google-site-verification" content="gilNcYTTcbM_6GVWcdvKmlO-05INEZdYAarccGSEzrE" />

<link rel="stylesheet" type="text/css" href="/stylesheets/timedj.css" MEDIA=screen />
<!--This is the table formatting -->
<link rel="stylesheet" type="text/css" href="/stylesheets/muffin.css" MEDIA=screen />
<script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>

<title><%=@query_title%></title>
</head>

<body>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15295053-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
  })();
</script>

<div class="Menu"/>
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style">
<a class="addthis_button_email"></a>
<a class="addthis_button_favorites"></a>
<a class="addthis_button_print"></a>
<span class="addthis_separator">|</span>
<a class="addthis_button_facebook"></a>
<a class="addthis_button_twitter"></a>
<a class="addthis_button_linkedin"></a>
<a href="http://www.addthis.com/bookmark.php?v=250&amp;username=bumblebeejuice" class="addthis_button_expanded" style="margin-right:0px; padding-right:0px; margin-left:2px;"></a>
<span class="addthis_separator">|</span>
<a href="#" onClick="UserVoice.Popin.show(uservoiceOptions); return false;"><img src="/images/feedback_menu.png" width="65" height="13" alt="Feedback" style="padding-top:2px; border:0; margin-left:2px; float: left"/></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=bumblebeejuice"></script>
<!-- AddThis Button END -->
</div>

<div class="Title"/>
	<a href="/"><img src="/images/timedj_title_mixing.png" alt="TimeDJ.com - Mixing Times Around The World" border="none"></a>
</div>

<%= yield %>

<div class="Footer">
	<div class="line"></div>
	<div class="copyright">Copyright &copy; 2010 TimeDJ.com &nbsp;<a href="/query/about_us">About Us</a>  &nbsp;<a href="/query/contact">Contact</a></div>	
</div>

<script type="text/javascript">
  var uservoiceOptions = {
    key: 'timedj',
    host: 'timedj.uservoice.com', 
    forum: '46231',
    lang: 'en',
    showTab: false
  };
  function _loadUserVoice() {
    var s = document.createElement('script');
    s.src = ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js";
    document.getElementsByTagName('head')[0].appendChild(s);
  }
  _loadSuper = window.onload;
  window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
</script>
</body>
</html>
