<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<meta name="keywords" content="time zone meeting planner, timzezone meeting planner, cross time zone meeting, time zones, time zone conversion, time zone converter, meeting planner, meeting planning tool, cross time zone meeting, how to convert time zones, time zone conversion, what time is it in, time and date, plan a meeting in a different country, cross country meeting, help plan a meeting, convert time zones between countries" />
<meta name="description" content="Plan your next Multi-Time Zone Meeting with TimeDJ.com!" />
<meta name="author" content="TimeDJ.com" />
<meta name="copyright" content="Copyright (c) 2010 TimeDJ.com" />
<meta name="language" content="en-us" />
<meta name="google-site-verification" content="gilNcYTTcbM_6GVWcdvKmlO-05INEZdYAarccGSEzrE" />

<link rel="stylesheet" type="text/css" href="/stylesheets/timedj.css" MEDIA=screen>
<!--This is the table formatting -->
<link rel="stylesheet" type="text/css" href="/stylesheets/muffin.css" MEDIA=screen>
<script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>

<title>TimeDJ.com - Time Zone Meeting Planner</title>

</head>

<body>

<div class="Title"/>
	<img src="/images/timedj_title2.png">
</div>
<BR>

<%= yield %>

</body></html>
