<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
<link rel="stylesheet" type="text/css" href="/stylesheets/timedj.css" MEDIA=screen>

<script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tablehover.min.js"></script>

<script>
//if (jQuery) { alert("jQuery loaded"); }
$(document).ready(function() 
{ 
$("#timetable").tablesorter();
$("#timetable").tableHover();

}); 
</script>

<%= yield %>



<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style" style="position:absolute; right:50px; top:75px">
<a href="http://www.addthis.com/bookmark.php?v=250&amp;username=bumblebeejuice" class="addthis_button_compact">Share</a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=bumblebeejuice"></script>
<!-- AddThis Button END -->

</div>


</body></html>
